/* Fonts */
 @font-face {
  font-family: 'Outfit';
  src: url('../assets/fonts/outfit/Outfit-VariableFont_wght.ttf')
    format('truetype-variations');
  font-weight: 100 900;
}

body {
  font-family: var(--font-family);
  background-color: var(--background);
  color: var(--text-tertiary);
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 1.5;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
}

h1,
h2,
h3 {
  font-family: var(--font-family-serif);
}

hr {
  border: none;
  height: 1px;
  background-color: var(--hr);
  margin-inline: clamp(var(--spacing-500), 5vw, var(--spacing-700));
}

span {
  font-weight: var(--font-weight-bold);
}

.recipe__content {
  background-color: var(--color-white);
  display: flex;
  flex-direction: column;
  gap: var(--spacing-500);
  width: 100%;
  max-width: 46rem;
  box-shadow: var(--shadow);
  border-radius: var(--border-radius-400);
}

.recipe__image-container {
    padding-inline: var(--spacing-700);
    padding-block-start: var(--spacing-700);
}

.recipe__image {
  border-radius: var(--border-radius-400);
}

.recipe__info {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-300);
  margin-inline: clamp(var(--spacing-500), 5vw, var(--spacing-700));
}

.recipe__content h1 {
  font: var(--text-preset-1);
  color: var(--text-primary);
}

.recipe__content h2 {
  font: var(--text-preset-2);
  color: var(--text-secondary);
}

.recipe__section {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-100);
  padding-inline: clamp(var(--spacing-500), 5vw, var(--spacing-700));
}

.recipe__section-title {
  font: var(--text-preset-3);
  color: var(--text-secondary);
}

.recipe__section li {
  padding-block: var(--spacing-50);
  padding-inline-start: var(--spacing-300);
  list-style-position: outside;
  margin-inline-start: var(--spacing-400);
}

.recipe__section li::marker {
  color: var(--text-secondary);
}

.recipe__section-content li::marker {
  color: var(--text-quaternary);
}

.recipe__section-content li::marker,
.recipe__ingredients-list li::marker {
  font-size: 0.8rem;
}

.recipe__section--preparation-time {
  background-color: var(--background-secondary);
  padding: var(--spacing-400);
  border-radius: var(--border-radius-200);
  margin-inline: clamp(var(--spacing-500), 5vw, var(--spacing-700));
}

.recipe__section--preparation-time .recipe__section-title {
  font: var(--text-preset-3);
  color: var(--text-quaternary);
}

.recipe__section--instructions li::marker {
  font-weight: 700;
}

.recipe__section--nutrition {
  padding-block-end: clamp(var(--spacing-500), 5vw, var(--spacing-700));
}

.recipe__nutrition-table {
  border-collapse: collapse;
}

.recipe__nutrition-table tr:not(:last-child) {
  border-bottom: 1px solid var(--hr);
}

.recipe__nutrition-table th {
  text-align: left;
  padding-block: var(--spacing-200);
}

.recipe__nutrition-table td > span {
  color: var(--text-secondary);
}

.footer {
  text-align: center;
  padding-block: var(--spacing-200);
  font: var(--text-preset-5);
} 

 footer a {
  color: var(--footer-link-color);
  text-underline-offset: .25rem;
  transition: color var(--transition-default);
}

footer a:hover,
footer a:active {
  color: var(--footer-link-color-hover);
}

footer a:focus-visible {
  outline: 2px solid var(--footer-link-color);
  outline-offset: 2px;
}

/* Media Queries */
@media screen and (max-width: 375px) {
  .recipe__content {
    border-radius: 0;
  }
  .recipe__image-container {
    padding: 0;
  }

  .recipe__image {
    border-radius: 0;
  };
}

@media (min-width: 376px) {
  .recipe__content {
    margin-block: var(--spacing-300);
  }
}

@media (min-width: 768px) {
  .recipe__content {
    margin-block: var(--spacing-500);
  }
}

@media (min-width: 1024px) {
  .recipe__content {
    margin-block: var(--spacing-900);
  }
}

@media (min-width: 1440px) {
  .recipe__content {
    margin-block: var(--spacing-1000);
  }
}