/* Base styles */
body {
  font-family: var(--font-family);
  background-color: var(--background);
  color: var(--text-tertiary);
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: var(--line-height-base);
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: clamp(0rem, -2.6849rem + 11.4554vw, 7.625rem);
}

li {
  padding-block: var(--spacing-50);
  padding-inline-start: var(--spacing-300);
  list-style-position: outside;
  margin-inline-start: var(--spacing-400);
}

hr {
  border: none;
  height: 1px;
  background-color: var(--hr);
}

/* List Markers - Styling for list markers */
li::marker {
  font: var(--text-preset-4);
  color: var(--text-quaternary);
}

.recipe__preparation-time-content > li::marker {
  color: var(--text-secondary);
}

/* Typography */
strong {
  font: var(--text-preset-4);
  color: var(--text-primary);
}

/* Recipe container -main container- */
.recipe__container {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-600);
  width: min(100%, 46rem);
  background-color: var(--color-white);
  border-radius: clamp(0rem, -0.5282rem + 2.2535vw, 1.5rem);
  box-shadow: var(--shadow);
}

/* Recipe image - Container and image */
.recipe__image-container {
  padding-inline: clamp(0rem, -0.8803rem + 3.7559vw, 2.5rem);
  padding-block-start: clamp(0rem, -0.8803rem + 3.7559vw, 2.5rem);
}

.recipe__image {
  border-radius: clamp(0rem, -0.2641rem + 1.1268vw, 0.75rem);
}

/* Recipe content container */
.recipe__content {
  padding-inline: clamp(2rem, 1.8239rem + 0.7512vw, 2.5rem);
  padding-block-end: clamp(2rem, 1.8239rem + 0.7512vw, 2.5rem);
}

/* Recipe content, header, info, preparation-time, section flexbox layot */
.recipe__content,
.recipe__header,
.recipe__info,
.recipe__preparation-time,
.recipe__section {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-250);
}

.recipe__content,
.recipe__header {
  gap: var(--spacing-450);
}

/* Recipe info */
.recipe__title {
  font-size: clamp(2.25rem, 2.162rem + 0.3756vw, 2.5rem);
  font-family: var(--font-family-serif);
  color: var(--text-primary);
}

/* Recipe preparation */
.recipe__preparation-time {
  background-color: var(--background-secondary);
  border-radius: var(--border-radius-200);
  padding: var(--spacing-400);
}

.recipe__preparation-time-title {
  font: var(--text-preset-3);
  color: var(--text-quaternary);
}

/* Recipe sections */
.recipe__section-title {
  font: var(--text-preset-2);
  color: var(--text-secondary);
}

/* Recipe section nutrition table */
.recipe__nutrition-table {
  border-collapse: collapse;
}

.recipe__nutrition-table th {
  text-align: left;
  padding-inline-start: var(--spacing-500);
}

.recipe__nutrition-table th,
.recipe__nutrition-table td {
  padding-block: var(--spacing-200);
  width: 50%;
}

.recipe__nutrition-table td > strong {
  font: var(--text-preset-4);
  color: var(--text-secondary);
}

.recipe__nutrition-table tr:not(:last-child) {
  border-bottom: 1px solid var(--hr);
}

.recipe__nutrition-table tr:last-child > *:is(td, th) {
  padding-block-end: 0;
}

/* Footer */
.footer {
  text-align: center;
  padding-block: var(--spacing-200);
  font: var(--text-preset-6);
}

footer a {
  color: var(--footer-link-color);
  text-underline-offset: var(--spacing-25);
  transition: color var(--transition-default);
}

footer a:hover,
footer a:active {
  color: var(--footer-link-color-hover);
}

footer a:focus-visible {
  outline: 2px solid var(--footer-link-color);
}

/* Media Queries */
@media screen and (max-width: 375px) {
  .recipe__title {
    line-height: 1;
  }

  .recipe__info {
    gap: var(--spacing-400);
  }
}
