/* Variables */
:root {
  /* Colors */
  --color-green: hsl(75, 94%, 57%);
  --color-white: hsl(0, 0%, 100%);
  --color-stone-100: hsl(30, 54%, 90%);
  --color-stone-150: hsl(30, 18%, 87%);
  --color-stone-600: hsl(30, 10%, 34%);
  --color-stone-900: hsl(24, 5%, 18%);
  --color-brown-800: hsl(14, 45%, 36%);
  --color-rose-800: hsl(332, 51%, 32%);
  --color-rose-50: hsl(330, 100%, 98%);
  --color-blue-500: hsl(228, 45%, 45%);
  --color-violet-600: hsl(268, 81%, 58%);

  /* Semantic colors */
  --text-primary: var(--color-stone-900);
  --text-secondary: var(--color-brown-800);
  --text-tertiary: var(--color-stone-600);
  --text-quaternary: var(--color-rose-800);
  --background: var(--color-stone-100);
  --background-secondary: var(--color-rose-50);
  --card-background: var(--white);
  --hr: var(--color-stone-150);
  --footer-link-color: var(--color-blue-500);
  --footer-link-color-hover: var(--color-violet-600);

  /* Shadow colors */
  --shadow-color: hsla(30, 18%, 87%, 0.2);

  /* Shadows */
  --shadow: 0px 25px 25px 0px var(--shadow-color);

  /* Typography */
  --font-family: 'Outfit', sans-serif;
  --font-family-serif: 'Young Serif', serif;
  --font-weight-bold: 700;
  --font-weight-normal: 400;
  --font-weight-semibold: 600;
  --font-size-xxlarge: 2.5rem;
  --font-size-xlarge: 1.75rem;
  --font-size-large: 1.5rem;
  --font-size-medium: 1.25rem;
  --font-size-base: 1rem;
  --font-size-small: 0.688rem;
  --line-height-small: 1.4;
  --line-height-base: 1.5;
  --line-height-medium: 1.6;
  --line-height-large: 1.7;

  /* Text presets */
  --text-preset-1: var(--font-weight-normal) var(--font-size-xxlarge)
    var(--font-family-serif);
  --text-preset-2: var(--font-weight-normal) var(--font-size-xlarge)
    var(--font-family-serif);
  --text-preset-3: var(--font-weight-semibold) var(--font-size-medium)
    var(--font-family);
  --text-preset-4: var(--font-weight-bold) var(--font-size-base)
    var(--font-family);
  --text-preset-5: var(--font-weight-normal) var(--font-size-base)
    var(--font-family);
  --text-preset-6: var(--font-weight-normal) var(--font-size-small)
    var(--font-family);

  /* Spacing scale */
  --spacing-1000: 7.625rem;
  --spacing-900: 4rem;
  --spacing-800: 3rem;
  --spacing-700: 2.5rem;
  --spacing-600: 2.25rem;
  --spacing-500: 2rem;
  --spacing-450: 1.625rem;
  --spacing-400: 1.5rem;
  --spacing-350: 1.25rem;
  --spacing-300: 1rem;
  --spacing-250: 0.875rem;
  --spacing-200: 0.75rem;
  --spacing-150: 0.625rem;
  --spacing-100: 0.5rem;
  --spacing-75: 0.375rem;
  --spacing-50: 0.25rem;
  --spacing-25: 0.125rem;

  /* Border radius scale */
  --border-radius-800: 3rem;
  --border-radius-700: 2.5rem;
  --border-radius-600: 2.25rem;
  --border-radius-500: 2rem;
  --border-radius-400: 1.5rem;
  --border-radius-350: 1.25rem;
  --border-radius-300: 1rem;
  --border-radius-200: 0.75rem;
  --border-radius-150: 0.625rem;
  --border-radius-100: 0.5rem;
  --border-radius-75: 0.375rem;
  --border-radius-50: 0.25rem;

  /* Transition */
  --transition-default: 0.3s ease-in-out;
}
